<h1><%= @condo_user_post.title %></h1>

<p>投稿日: <%= @condo_user_post.created_at %></p>

<div>
  <span>部屋番号: <%= @condo_user_post.condo_user.room_number %></span>
  <span>氏名: <%= @condo_user_post.condo_user.condo_user_last_name %> <%= @condo_user_post.condo_user.condo_user_first_name %></span>
</div>

<p>内容: <%= @condo_user_post.content %></p>

<% if @condo_user_post.image.attached? %>
  <%= image_tag @condo_user_post.image %>
<% end %>

<% @condo_user_post.condo_user_post_replies.each do |reply| %>
  <% if reply.user %>
    <%# 管理会社のユーザーであれば誰でもコメントを表示 %>
    管理会社: <%= reply.user.last_name %> <%= reply.user.first_name %>
  <% end %>
  <%# CondoUser から情報を取得 %>
  <% if reply.condo_user %>
    部屋番号: <%= reply.condo_user.room_number %>
    氏名: <%= reply.condo_user.condo_user_last_name %> <%= reply.condo_user.condo_user_first_name %>
  <% end %>
<% end %>



<%= form_with(
      model: CondoUserPostReply.new, 
      url: condo_condo_user_post_condo_user_post_replies_path(@condo_user_post.condo_id, @condo_user_post),
      data: { turbo: false },
      local: true
    ) do |form| %>
  <%= form.label :content, "新しいコメント" %>
  <%= form.text_area :content %>
  <%= form.label :image, "画像を添付" %>
  <%= form.file_field :image %>
  <%= form.submit "コメントする" %>
<% end %>




