<h1><%= @condo_user_post.title %></h1>

<p>投稿日: <%= @condo_user_post.created_at %></p>

<div>
  <span>部屋番号: <%= @condo_user_post.condo_user.room_number %></span>
  <span>氏名: <%= @condo_user_post.condo_user.condo_user_last_name %> <%= @condo_user_post.condo_user.condo_user_first_name %></span>
</div>

<p>内容: <%= @condo_user_post.content %></p>

<h2>コメント</h2>
<ul>
  <% @condo_user_post_replies.each do |reply| %>
    <li>
      <strong>
        <% if reply.user.admin? || reply.user.manage? %>
          管理会社: <%= reply.user.name %>
        <% else %>
          部屋番号: <%= reply.user.room_number %> 
          氏名: <%= reply.user.condo_user_last_name %> <%= reply.user.condo_user_first_name %>
        <% end %>
        <% if reply.user.id == @condo_user_post.condo.user_id %>
          (担当者)
        <% end %>
      </strong>
      : <%= reply.content %>
      <small><%= reply.created_at %></small>
    </li>
  <% end %>
</ul>

<%= form_with(url: condo_condo_user_post_condo_user_post_replies_path(@condo_user_post.condo_id, @condo_user_post), local: true) do |form| %>
  <%= form.label :content, "新しいコメント" %>
  <%= form.text_area :content %>
  <%= form.label :image, "画像を添付" %>
  <%= form.file_field :image %>
  <%= form.submit "コメントする" %>
<% end %>



