<h2>新しい書類を追加</h2>

<%= form_with model: @document, data: { turbo: false }, class: 'registration-main', local: true do |f| %>

  <%= render 'shared/error_messages', model: f.object %>

<div class="form-group">
  <div class="form-text-wrap">
    <%= f.label :condo_id, 'マンションを選択', class: "form-text" %>
    <span class="indispensable">必須</span>
  </div>
  <%= f.select :condo_id, options_for_select(
    @condos_for_select,
    @selected_condo_id),
    { class: "input-default" } %>
</div>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">タイトル</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_field :title, class:"input-default", id:"title", placeholder:"タイトルを入力" %>
  </div>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">カテゴリ</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.collection_select :category_id, DocumentCategory.all, :id, :name, {}, { class: "input-default", id: "category-id" } %>
  </div>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">ファイル</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.file_field :file, class:"input-default", id:"file" %>
  </div>

  <div class="actions">
    <%= f.submit "保存", data: { turbo: false } %>
  </div>
<% end %>

