<h1><%= @condo.condo_name %> の相談履歴</h1>

<ul>
  <% @condo_user_posts.each do |post| %>
    <li>
      <strong>
        <%= link_to post.title, condo_condo_user_post_path(@condo, post) %>
      </strong><br>
      氏名: <%= post.condo_user.condo_user_last_name %> <%= post.condo_user.condo_user_first_name %><br>
      部屋番号: <%= post.condo_user.room_number %>
      <%= post.content %><br>
      <%= post.created_at %><br>
    </li>
  <% end %>
</ul>
