<h1 class="display-4"><%= @condo.condo_name %></h1>

  <div class="album py-5 bg-body-tertiary">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <%= link_to details_condo_path(@condo) do %>
              <%= image_tag 'ビルアイコン6.png', alt: 'マンション情報', class: 'bd-placeholder-img card-img-top top-icon' %>
            <% end %>
            <div class="card-body">
              <p class="card-text">マンション情報</p>

            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <%= link_to condo_condo_users_path(@condo) do %>
              <%= image_tag 'SNS人物アイコン.png',alt: '区分所有者情報', class: 'bd-placeholder-img card-img-top top-icon' %>
            <% end %>
            <div class="card-body">
              <p class="card-text">区分所有者情報</p>

            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <%= link_to root_path do %>
              <%= image_tag '自転車のイラスト1.png',alt: '駐輪場・駐車場情報', class: 'bd-placeholder-img card-img-top top-icon' %>
            <% end %>
            <div class="card-body">
              <p class="card-text">駐輪場・駐車場情報</p>

            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <%= link_to root_path do %>
              <%= image_tag 'シンプルな書類ファイル.png',alt: '書類', class: 'bd-placeholder-img card-img-top top-icon' %>
            <% end %>
            <div class="card-body">
              <p class="card-text">書類</p>

            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <%= link_to inquiries_condo_path(@condo) do %>
              <%= image_tag 'コメントアイコン7.png',alt: '相談履歴', class: 'bd-placeholder-img card-img-top top-icon' %>
            <% end %>
            <div class="card-body">
              <p class="card-text">相談履歴</p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>