<h2>新しい区画を追加</h2>

<%= form_with model: @parking, data: { turbo: false }, class: 'registration-main', local: true do |f| %>

  <%= render 'shared/error_messages', model: f.object %>

<div class="form-group">
  <div class="form-text-wrap">
    <%= f.label :condo_id, 'マンションを選択', class: "form-text" %>
    <span class="indispensable">必須</span>
  </div>
  <%= f.select :condo_id, options_for_select(
    @condos_for_select,
    @selected_condo_id),
    { class: "input-default" } %>
</div>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">区画番号</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_field :parking_number, class:"input-default", id:"parking_number", placeholder:"区画番号を入力" %>
  </div>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">車両タイプ</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.collection_select :vehicle_type_id, VehicleType.all, :id, :name, {}, { class: "input-default", id: "vehicle_type_id" } %>
  </div>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">区画料金</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_field :monthly_fee, class: "input-default", id: "monthly_fee", placeholder: "区画料金を入力" %>
  </div>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">区画タイプ</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.collection_select :parking_type_id, ParkingType.all, :id, :name, {}, { class: "input-default", id: "parking_type_id" } %>
  </div>

  <div class="form-group">
    <div class='form-text-wrap'>
      <%= f.label :roof, '屋根あり', class: "form-text" %>
      <%= f.check_box :roof, class: "input-default", id: "roof" %>
    </div>
  </div>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">特別カテゴリ</label>
    </div>
    <%= f.collection_select :special_category_id, SpecialCategory.all, :id, :name, {}, { class: "input-default", id: "special_category_id" } %>
  </div>

  <div class="actions">
    <%= f.submit "保存", data: { turbo: false } %>
  </div>
<% end %>
