<!DOCTYPE html>
<html>
  <head>
    <title>Rem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="p-3 text-bg-dark">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
          </a>

          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <% if user_signed_in? %>
              <li><%= link_to "Home", root_path, class: "nav-link px-2 text-secondary" %></li>
            <% else %>
              <li><%= link_to "Home", "#", style: "display:none;" %></li>
            <% end %>

            <% if condo_user_signed_in? %>
              <li><%= link_to "Home", condo_condo_user_posts_path(condo_id: current_condo_user.condo.id), class: "nav-link px-2 text-secondary" %></li>
            <% else %>
              <li><%= link_to "Home", "#", style: "display:none;" %></li>
            <% end %>
          </ul>

          <%# <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
            <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
          </form> %>

          <div class="text-end">
            <% if user_signed_in? %>
              <%# ユーザーがログインしている場合 %>
              <span>
                ようこそ、<%= "#{current_user.last_name} #{current_user.first_name}" %> さん
              </span>

              <%= link_to notifications_path, class: "notification-link" do %>
                <span class="material-symbols-outlined">
                  notifications
                </span>
              <% end %>

              <% if current_user.admin? %>
                <%# 管理者の場合 %>
                <%= link_to "管理者画面", admin_root_path, class: "btn btn-success", role: "button" %>
                <%= link_to "区分所有者登録", new_condo_user_registration_path, data: { turbo: false }, class: "btn btn-warning", role: "button" %>
                <%= link_to "社員登録", new_user_registration_path, data: { turbo: false }, class: "btn btn-warning", role: "button" %>
                <%= link_to "マンション登録", new_condo_path, data: { turbo: false }, class: "btn btn-warning", role: "button" %>
                <%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete }, class: "btn btn-outline-light me-2", role: "button"  %>

              <% elsif current_user.manage? %>
                <%# マネージャーの場合 %>
                <%= link_to "社員登録", new_user_registration_path, data: { turbo: false }, class: "btn btn-warning", role: "button" %>
                <%= link_to "マンション登録", new_condo_path, data: { turbo: false }, class: "btn btn-warning", role: "button" %>
                <%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete }, class: "btn btn-outline-light me-2", role: "button"  %>

              <% else %>
                <%# 社員の場合 %>
                <div class="btn-group">
                  <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    担当物件
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <% current_user.condos.each do |condo| %>
                      <li><%= link_to condo.condo_name, condo_path(condo), class: "dropdown-item" %></li>
                    <% end %>
                  </ul>
                </div>
                <%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete }, class: "btn btn-outline-light", role: "button"  %>
              <% end %>

            <% else %>
              <%# 社員ユーザーがログインしていない場合 %>
            <% end %>
            <% if condo_user_signed_in? %>
              <%= link_to notifications_path, class: "notification-link" do %>
                <span class="material-symbols-outlined">
                  notifications
                </span>
              <% end %>
              <%= link_to 'ログアウト', destroy_condo_user_session_path, data: { turbo_method: :delete }, class: "btn btn-outline-light me-2", role: "button"  %>
            <% else %>
            <% end %>
          </div>

        </div>
      </div>
    </header>

<% if flash[:alert] || flash[:notice] %>
  <div class="alert <%= flash[:alert] ? 'alert-danger' : 'alert-success' %>" role="alert">
    <%= flash[:alert] || flash[:notice] %>
  </div>
<% end %>

    <%= yield %>
  </body>
</html>
